.gitattributes text eol=lf
.gitignore text eol=lf
*.md text eol=lf
*.docx binary
*.gif binary
*.html text eol=lf
*.jpg binary
*.jpeg binary
*.pdf binary
*.png binary
*.js text eol=lf
*.svg text eol=lf
*.webp binary
